.Navbar-logo {
    color: darkblue;
    text-decoration: none;
    margin-left: 10px;
}
.Navbar-logo:hover {
    color: blue;
}
.Navbar-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: blue;
    margin-left: 1rem;

}
.Navbar-link:hover {
    color: black;
}
.Navbar {
    justify-content: space-between;
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    padding-bottom: 0.6rem;
    border-bottom: 0.15rem solid lightgray;
}